In [1]:
import requests
import pandas as pd
import json

In [12]:
base_url = "https://fantasy.premierleague.com/api/"
response = requests.get(f"{base_url}bootstrap-static/")
data = response.json()
players_df = pd.DataFrame(data['elements'])
teams_df = pd.DataFrame(data['teams'])
players_df = players_df.merge(teams_df[['id', 'name','position']], 
                                  left_on='team', 
                                  right_on='id', 
                                  suffixes=('', '_team'))

In [13]:
players_df.rename(columns={'name': 'team_name','position':'position_team'}, inplace=True)

In [14]:
players_df.head(10)

,can_transact,can_select,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,...,form_rank_type,points_per_game_rank,points_per_game_rank_type,selected_rank,selected_rank_type,starts_per_90,clean_sheets_per_90,id_team,team_name,position_team
0,True,False,0.0,0.0,438098,0,0,-1,1,0,...,329,787,340,714,295,0.00,0.00,1,Arsenal,2
1,True,True,0.0,0.0,205651,0,0,-5,5,2,...,83,211,26,205,31,0.90,0.30,1,Arsenal,2
2,True,True,0.0,0.0,226597,0,0,2,-2,2,...,124,40,3,28,10,1.07,0.38,1,Arsenal,2
3,True,True,0.0,0.0,219847,0,0,-3,3,1,...,86,22,9,62,11,1.03,0.34,1,Arsenal,2
4,True,False,0.0,0.0,463748,0,0,0,0,0,...,56,608,67,638,71,0.00,0.00,1,Arsenal,2
5,True,True,100.0,100.0,445122,0,0,2,-2,2,...,33,70,11,45,17,1.01,0.43,1,Arsenal,2
6,True,True,25.0,25.0,85955,0,0,-4,4,0,...,125,397,189,358,111,1.16,0.26,1,Arsenal,2
7,True,True,NaN,NaN,440854,0,0,-2,2,0,...,55,340,109,130,48,0.62,0.16,1,Arsenal,2
8,True,True,100.0,100.0,444145,0,0,-5,5,1,...,61,77,37,112,37,0.96,0.40,1,Arsenal,2
9,True,True,100.0,100.0,499175,0,0,0,0,0,...,41,199,84,140,46,1.17,0.47,1,Arsenal,2

In [6]:
teams_df.head(10)

,code,draw,form,id,loss,name,played,points,position,short_name,...,team_division,unavailable,win,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away,pulse_id
0,3,0,None,1,0,Arsenal,0,0,2,ARS,...,None,False,0,1235,1335,1220,1370,1250,1300,1
1,7,0,None,2,0,Aston Villa,0,0,7,AVL,...,None,False,0,1110,1215,1080,1160,1140,1270,2
2,91,0,None,3,0,Bournemouth,0,0,8,BOU,...,None,False,0,1195,1215,1130,1170,1260,1260,127
3,94,0,None,4,0,Brentford,0,0,11,BRE,...,None,False,0,1100,1195,1080,1080,1120,1310,130
4,36,0,None,5,0,Brighton,0,0,10,BHA,...,None,False,0,1140,1150,1120,1140,1160,1160,131
5,8,0,None,6,0,Chelsea,0,0,6,CHE,...,None,False,0,1230,1235,1150,1150,1310,1320,4
6,31,0,None,7,0,Crystal Palace,0,0,12,CRY,...,None,False,0,1130,1130,1140,1140,1120,1120,6
7,11,0,None,8,0,Everton,0,0,13,EVE,...,None,False,0,1095,1125,1130,1140,1070,1100,7
8,54,0,None,9,0,Fulham,0,0,9,FUL,...,None,False,0,1150,1150,1150,1150,1150,1150,34
9,40,0,None,10,0,Ipswich,0,0,18,IPS,...,None,False,0,1075,1075,1070,1070,1080,1080,8